@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.menubar {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .3 ease-in;

  background-color: transparent;
}

.menubar-bg {

  width: 100%;
  background-color: #131313;
}

.skills1 {
  background: linear-gradient(180deg, rgba(255, 230, 0, .6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}

.skills2 {
  background: linear-gradient(180deg, rgba(0, 255, 115, 0.6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}

.skills3 {
  background: linear-gradient(180deg, rgba(255, 70, 70, 0.6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}

.skills4 {
  background: linear-gradient(180deg, rgba(255, 157, 0, 0.6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}

.skills5 {
  background: linear-gradient(180deg, rgba(0, 157, 255, 0.6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}

.skills6 {
  background: linear-gradient(180deg, rgba(153, 0, 255, 0.6), rgba(31, 30, 28, .6) 67.59%);
  flex-basis: 28.33%;
  border-radius: 12px;
  margin: 0 15px 30px;
}


.skill {
  padding: 40px;
  background: #1f1e1d;
  margin: 3px 3px 0;
  text-align: center;
  border-radius: 12px;
}